
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo {
  height: 45px;
  width: auto;
}

.logo-container {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #1f2937;
  transition: 0.3s ease;
}

.nav-links li:hover {
  color: #2563eb; /* blue hover */
}
.nav-links li:hover {
  color: #dc2626; /* emergency red */
}
.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #2563eb;
  transition: 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}